<div class="container">
    <table class="table table-bordered table-sm col-md-6">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Registered</th>
        </tr>
        </thead>
        <tbody>
        {{#each users.rows}}
            <tr>
                <td><a href="users/{{id}}">{{username}}</a></td>
                <td><a href="users/{{id}}">{{email}}</a></td>
                <td>{{createdAt}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {{#if_eq page 1}}
                <li class="page-item">
                    <a class="page-link btn disabled" href="/users?page={{prevPage}}">Previous</a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="/users?page={{prevPage}}">Previous</a>
                </li>
            {{/if_eq}}
            {{#if_eq page pageCount}}
                <li>
                    <a class="page-link btn disabled" href="/users?page={{nextPage}}">Next</a>
                </li>
            {{else}}
                <li>
                    <a class="page-link" href="/users?page={{nextPage}}">Next</a>
                </li>
            {{/if_eq}}

        </ul>
    </nav>

</div>